<h2><%= @count %>件の相談が見つかりました!</h2>

<% @search_counseling.each do |counseling| %>
    <%= link_to user_counseling_path(counseling) do %>
     <p><%= counseling.title %></p>
    <% end %>
     相談のジャンル
     <p><%= counseling.genre.genre %></p>
     
 
<% end %>
