<div class="container">
  <div class="row mt-3">
    <div class="col-md-4 offset-1">
     <div class="title">管理者プロフィール
    </div>
     <div class="admin mt-3">
      <%= image_tag 'admin.jpg', size: '250x250' %>
     </div>
     </div>
     <div class="col-md-7 mt-3">
      <div class="prof">
       しまだ<br>
       1999年3月16日生まれ<br>
       趣味 読書、筋トレ<br>
       <div class="mt-2">
       このサイトを作成した理由<br>
     </div>
     </div>
       <div class="text">
        私自身、高校時代の３年間体罰が横行している部活に所属していました。<br>
        同期が3人いたのですが、入部2ヶ月後に全員辞めてしまい、1人になりました。<br>
        そんな時、親や中学時代の友人に相談に乗ってもらい助かったのを覚えています。<br>
        しかし、同じ境遇でないが故心細かったのもまた事実でした。<br>
        同じ目線で相談できる相手がいたらどれだけ心が軽くなっただろうと思います。<br>
        時代の流れで体罰が少なくなっているとは言いますが、まだまだ見えないところで悩んでいる学生がたくさんいます。<br>
        そんな人たちの少しでも力になりたい、そう思いこのサイトを立ち上げました。
       </div>
      </div>
      <div class="col-md-10 offset-2 mt-5">
        <div class="title">
         管理者の体験談
        </div>
        <div class="text">
          私の体験談で特に辛いと感じたことを3つ紹介します。暇潰し感覚で読んでいただけたらと思います（笑）<br>
          決して辛さ自慢をしたい訳ではないのでそちらも念頭に置いていただけると幸いです。
        </div>
      </div>
      <div class="col-md-3 offset-2 mt-2" style="word-wrap:break-word;">
       <div class="proftitle">
        休みが無かった話
       </div>
       <div class="text">
       </div>
        365日、休みが1日もありませんでした。朝練習は6:50~,夜は22:00練習終了、土日は遠征か1日練習。<br>
        現在そこそこのハードワークですが部活の３年間に比べると非常に楽だなと感じています（笑）<br>
        定期テストの時にのみ基本の練習時間が短縮になっていたのですが、家で14時の時計の針を見た時涙が出たのを覚えています（笑）
      </div>
       <div class="col-md-3 mt-2" style="word-wrap:break-word;">
       <div class="proftitle">
        壁と拳に挟まれた話
       </div>
       <div class="text">
       </div>
        殴る蹴るなどの暴力は基本的にあったため、2年生の後半には慣れていたのですが、この時は別でした。<br>
        部室の角に追い詰められ、殴られて頭が壁に当たりバウンドしたところを殴られる、これを3,4回は繰り返されました。<br>
        単純に痛すぎて辛かったし反射的に隣の人が手を挙げるとガードしてしまう癖が着いてしましました（笑）
      </div>
      <div class="col-md-3 mt-2" style="word-wrap:break-word;">
       <div class="proftitle">
        夢に出てくる話
       </div>
       <div class="text">
       </div      これは卒業してからの話になります。社会人になり高校より辛くないとはいえメンタルがやられることも少しはありました。<br>
    普段夢は見ないのですがそんな時は決まって部活の辛かった時の夢を見ます。<br>
    もちろん今もですが高校時代の私が未熟で叱られてしまっていたのは重々承知しています。<br>
    しかし昔植え付けられたトラウマは一生人の心に残ってしまうんだな...と夢を見る度感じます。
   </div>
 </div>
</div>