/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


// .
body {
  background-color: #9fca99;
  min-height: 100vh;
  background-size: cover;
}

html {
  font-size: 16px;
}

.tennis {
  position: absolute;
  top: 1100px;
  right: 45px;
}

.baseball {
    position: absolute;
    top: 270px;
    right: 45px;
}

.basketball {
    position: absolute;
    top: 250px;
    left: 45px;
}

.football {
    position: absolute;
    top: 700px;
    left: 45px;
}

.run {
    position: absolute;
    top: 1100px;
    left: 45px;
}

.tabletennis {
    position: absolute;
    top: 700px;
    right: 45px;
}

.text{
  font-family: serif;
  line-height: 1.5;
  text-align: left;
}

.title {
 font-weight: bold;
 font-size: 30px;
}

.count {
  font-size: 20px;
}

.counseling {
  font-size: 25px;
  font-weight: bold;
}

.pagination {
  justify-content: center;
}

.login {
  font-weight: bold;
}